In [11]:
# Dependencies and Setup
import pandas as pd
import os
# File to Load (Remember to Change These)
file_to_load = os.path.join("heroes", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [50]:
#Display the total number of players
total_players = purchase_data['SN'].nunique()
print(total_players)

576

In [32]:
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = purchase_data['Item Name'].nunique()
avg_price = purchase_data['Price'].mean()

#Create a summary data frame to hold the results

summary_df = pd.DataFrame({"Total Players  " : [total_players],
                            "Unique Items ": [unique_items],
                            "Average Price  " : [avg_price]})


#Display the summary data frame
summary_df

   Total Players    Unique Items   Average Price
0              780            179         3.050987

In [52]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed
gender = purchase_data['Gender'].value_counts()
Male_percent = (652 / 780) * 100
female_percent = (113 / 780) *100
other_percent = (15 / 780) * 100
print(gender)
print("male % =  " , Male_percent, "%")
print("female % =  " , female_percent, "%")
print("other % =  " , other_percent, "%")

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64
male % =   113.19444444444444 %
female % =   19.618055555555554 %
other % =   2.604166666666667 %

In [61]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purchase_count = len(purchase_data.index)
purchase_totalp = total_players / purchase_count
purchase_totalgm = (Male_percent * total_players) / purchase_count
purchase_totalgf = (female_percent * total_players) / purchase_count
purchase_totalgo = (other_percent * total_players) / purchase_count
purchase_count
#Create a summary data frame to hold the results
summary_df2 = pd.DataFrame({"Purchase count  " : [purchase_count],
                            "Average purchase price ": [avg_price],
                            "Purchase total per person  " : [purchase_totalp],
                           "purchase total for males" : [purchase_totalgm],
                           "purchase total for females" : [purchase_totalgf],
                           "purchase total for other" : [purchase_totalgo]})


#Display the summary data frame
summary_df2

,Purchase count,Average purchase price,Purchase total per person,purchase total for males,purchase total for females,purchase total for other
0,780,3.050987,0.738462,83.589744,14.487179,1.923077

In [89]:
#Establish bins for ages

#Categorize the existing players using the age bins. Hint: use pd.cut

purchase_data['range'] = pd.cut(purchase_data.Age,[1,10,17,30,99],labels=['Kid','Teen','Adult','Elderly'])

bin1 = purchase_data.groupby('range')['Age'].count().reset_index(name='Count').to_dict(orient='records')
#Calculate the numbers and percentages by age group
kid_p = (32 / 780) *100
teen_p = (106 / 780) *100
adult_p = (550 / 780) * 100
elderly_p = (92 / 780) *100
#Create a summary data frame to hold the results

print("kid percent : ", kid_p, "%")
print("teen percent : ", teen_p, "%")
print("adult percent : ", adult_p, "%")
print("elderly percent : ", elderly_p, "%")
print(bin1)

#Display Age Demographics Table

kid percent :  4.102564102564102 %
teen percent :  13.58974358974359 %
adult percent :  70.51282051282051 %
elderly percent :  11.794871794871794 %
[{'range': 'Kid', 'Count': 32}, {'range': 'Teen', 'Count': 106}, {'range': 'Adult', 'Count': 550}, {'range': 'Elderly', 'Count': 92}]

In [90]:
#Bin the purchase_data data frame by age
purchase_data['range'] = pd.cut(purchase_data.Age,[1,10,17,30,99],labels=['Kid','Teen','Adult','Elderly'])

bin1 = purchase_data.groupby('range')['Age'].count().reset_index(name='Count').to_dict(orient='records')
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purchase_count2 = len(purchase_data.index)
purchase_totalp = total_players / purchase_count
purchase_totalkp = (kid_p * total_players) / purchase_count
purchase_totaltp = (teen_p * total_players) / purchase_count
purchase_totalap = (adult_p * total_players) / purchase_count
purchase_totalep = (elderly_p * total_players) / purchase_count
purchase_count
#Create a summary data frame to hold the results
summary_df3 = pd.DataFrame({"Purchase count  " : [purchase_count],
                            "Average purchase price ": [avg_price],
                            "Purchase total per person  " : [purchase_totalp],
                           "purchase total for kids" : [purchase_totalkp],
                           "purchase total for teens" : [purchase_totaltp],
                           "purchase total for adults" : [purchase_totalap],
                           "purchase total for elderly" : [purchase_totalep]})


#Display the summary data frame
summary_df3

,Purchase count,Average purchase price,Purchase total per person,purchase total for kids,purchase total for teens,purchase total for adults,purchase total for elderly
0,780,3.050987,0.738462,3.029586,10.035503,52.071006,8.710059

In [79]:
#Retrieve the Item ID, Item Name, and Item Price columns

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
Item_id = purchase_data['Item ID'].value_counts()
print(Item_id)
item_price = purchase_data.loc[purchase_data['Item ID'] ,'Price']
print(item_price)
#Create a summary data frame to hold the results

#Sort the purchase count column in descending order


#Display a preview of the summary data frame

92     13
178    12
108     9
132     9
82      9
       ..
104     1
27      1
134     1
118     1
91      1
Name: Item ID, Length: 179, dtype: int64
108    1.75
143    1.29
92     3.94
100    1.02
131    1.87
       ...
60     2.38
164    3.09
67     4.74
92     3.94
50     2.18
Name: Price, Length: 780, dtype: float64

In [92]:
#Sort the above table by total purchase value in descending order

test = purchase_data.sort_values(['Price'], ascending=[0])
#Display a preview of the data frame
print(test)

     Purchase ID             SN  Age  Gender  Item ID  \
554          554       Dyally87   22    Male       63
189          189       Hiasri33   23    Male       63
110          110        Ririp86   25    Male      139
246          246     Lirtilsa71   24    Male      139
493          493  Chanirrasta87   14    Male      139
..           ...            ...  ...     ...      ...
586          586     Chanirra79   23  Female      155
282          282        Aidai61   21    Male      155
371          371     Eusurdeu49   23    Male      155
63            63          Alo38   20    Male      125
418          418        Marim28   25  Female      125

                      Item Name Age Group  Price  range
554              Stormfury Mace     Adult   4.99  Adult
189              Stormfury Mace     Adult   4.99  Adult
110     Mercy, Katana of Dismay     Adult   4.94  Adult
246     Mercy, Katana of Dismay     Adult   4.94  Adult
493     Mercy, Katana of Dismay      Teen   4.94   Teen
..                          ...       ...    ...    ...
586   War-Forged Gold Deflector     Adult   1.01  Adult
282   War-Forged Gold Deflector     Adult   1.01  Adult
371   War-Forged Gold Deflector     Adult   1.01  Adult
63   Whistling Mithril Warblade     Adult   1.00  Adult
418  Whistling Mithril Warblade     Adult   1.00  Adult

[780 rows x 9 columns]